
.main{
    width: 100%;
    height: auto;
    background-color: #fafafa;
}
.main .container{
    margin: 30px auto;
    border: 1px solid #dbdbdd;
    box-sizing: border-box;
    padding: 20px 35px;
}
.main .container .breadcrumb p a {
    color: black;
    text-decoration: none;
}
.main .container .breadcrumb p a:hover {
    color: #7eb92f;
}
.main .container .table {

    margin-top: -10px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main .container .table h1 a{
    color: #242c42;
    font-family: "proxima-soft","Varela Round",sans-serif !important;
    text-decoration: none;
    font-size: 28px;
    font-weight: 500;
    word-break:break-word;
}
.main .container .table span {
    border: none;
}
.main .container .table span button{
    margin-right: 30px;
    background-color: white;
    padding: 8px 15px;
    border-radius: 5px;
    color: #7eb92f;
    border: 0.3px solid #7eb92f;
}
.main .container .table span button:hover{
    background-color: #7eb92f;
    color: white;
}
.main .container .row {
    height: 300px;
}
.main .container .row .col-4{
    height: 100%;  
}
.main .container .row .col-4 .product-image{
    height: 240px;  
    position: relative;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(36,44,66,.2);
}
.main .container .row .col-4 .product-image a {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
}
.main .container .row .col-4 .product-info{
    margin-top: 20px;
    height: 40px;  
}
.main .container .row .col-4 .product-info button{
    width: 100%;
    height: 100%;
    background-color: #ff5a5f;  
    color: white;
    border: none;
    border-radius: 5px;
}
.main .container .row .col-4 .product-info button span{
    margin-right: 10px;
    
}
.main .container .row .col-8 {
    display: block;

}
.main .container .row .col-8 .product-detail .hightlight-head{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #f6f8f9;
    line-height: 45px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    border: 0.5px solid rgba(36,44,66,.2);
}
.main .container .row .col-8 .product-detail .hightlight-head h2{
    margin-top: 15px;
    font-size: 17px;
    font-weight: 500;
    font-family: "proxima-soft","Varela Round",sans-serif !important;
}
.main .container .row .col-8 .product-detail .hightlight-head .pull-left{
    display: block;
}
.main .container .row .col-8 .product-detail .hightlight-head .pull-right{
    display: inline-flex;
    flex-wrap: wrap;
}
.main .container .row .col-8 .product-detail .hightlight-head .pull-right span{
    margin-right: 20px;
    margin-top: 5px;
}
.main .container .row .col-8 .product-detail .hightlight-head .pull-right .selectbox-container button{
    background-color: white;
    border: 0.5px solid rgba(36,44,66,.2);
    border-radius: 5px;
    height: 40px;
    margin-top: 8px;
    text-align: center;
}
.main .container .customer-body .wrapper .left-panel h2{
    width: 72%;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 20px;
    font-size: 24px;
    color: #242c42;
    line-height: 25px;
}
.footer{
    width: 100%;
    border-top: 1px solid #cacaca;
    background: #fff;
    font-family: Lato,sans-serif;
    font-weight: 400;
    word-spacing: 1px;
    line-height: 1.2;
    display: block;
    height: 500px;
    
    
}
.footer .content-center{
    max-width: 1120px;
    margin: 0 auto;
}
.footer .content-center .primary-footer-wrapper{
    margin: 0;
    padding-bottom: 20px;
}

.footer .content-center .primary-footer-wrapper .primary-footer-holder{
    width: 100%;
    padding: 20px 0;
    border-bottom: solid 1px #e2e2e2;
    text-align: center;
    display: table;
}
.footer .content-center .primary-footer-wrapper .primary-footer-holder .primary-footer-content{
    display: table-cell;
    vertical-align: middle;
}

.footer .content-center .primary-footer-wrapper .primary-footer-holder .primary-footer-content .primary-footer-left{
    font-size: 62px;
    font-weight: 400;
    display: inline-block;
    color: #666;
}
.footer .content-center .primary-footer-wrapper .primary-footer-holder .primary-footer-content .primary-footer-right{
    padding-left: 20px;
    display: inline-block;
    text-align: left;
}
.footer .content-center .primary-footer-wrapper .primary-footer-holder .primary-footer-content .primary-footer-right div{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    padding-bottom: 8px;
}
.footer .content-center .primary-footer-wrapper .primary-footer-holder .primary-footer-content .primary-footer-right div a{
    text-decoration: none;
    display: inline-block;
    color: #44a512;
    outline: 0;
    cursor: pointer;
}
.footer .content-center .primary-footer-wrapper .col-4{
    padding-top: 20px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}